:root {
  --color1: #fff; /* Common white */
  --color2: #000; /* Common black */
  --color3: #222f3a; /* Hover main button */
  --color4: #495863; /* Text aside */
  --color5: #35444f; /* Header strip bg-color */
  --color6: #2c2c2c; /* Main text p */
  --color7: rgba(100, 105, 110, 0.5); /* Footer strip bg-color */
  --color8: #dbdbdb; /* Hover aside button */
  --color9: #4bcaff; /* Brand -mda.js */
  --color10: #3181a6; /* Hover footer a */
  --color11: #0c1927; /* Footer text a*/
  --color12: #010101; /* Footer text p*/
}

body {
  width: 1480px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  margin: 0 auto;
}

.container {
  width: 1280px;
  margin: 60px 100px 30px 100px;
}

.border {
  border: 1px solid var(--color2);
}

/* HEADER */

.logo {
  display: block;
  width: 335px;
  height: 80px;
  margin-bottom: 40px;
  text-decoration: none;
  color: var(--color2);
  font-size: 80px;
}

.logo span {
  color: var(--color9);
}

.nav-box {
  display: flex;
  justify-content: center;
  background-color: var(--color5);
  margin-bottom: 50px;
}

.nav-btn {
  display: flex;
  justify-self: center;
  align-items: center;
  height: 70px;
  text-decoration: none;
  color: var(--color1);
  font-size: 24px;
  padding: 0 40px;
  border: none;
  border-right: 1px solid var(--color1);
  transition: 0.8s;
}

.nav-box .border-left {
  border-left: 1px solid var(--color1);
}

.nav-btn:hover {
  background-color: var(--color3);
}

/* CONTENT */

.content-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}

/* ASIDE */

.content-aside {
  width: 345px;
  height: fit-content;
}

.asid-list {
  display: flex;
  flex-direction: column;
}

.asid-list a {
  text-decoration: none;
  height: 80px;
  display: flex;
  align-items: center;
  color: var(--color4);
  background: none;
  text-align: left;
  font-size: 27px;
  line-height: 27px;
  padding-left: 45px;
  transition: 0.8s;
}

.asid-list a:hover {
  color: var(--color2);
  background-color: var(--color8);
  padding-left: 90px;
}

/* MAIN */

main {
  width: 885px;
}

.img-box {
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 37px;
}

.img-logo {
  width: 320px;
  cursor: pointer;
  transition: 0.8s;
}

.img-box .img-logo:hover {
  width: 360px;
}

.text-item p {
  color: var(--color6);
  font-size: 18px;
  line-height: 24px;
  margin-top: 13px;
}

/* FOOTER */

footer {
  height: 69px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color7);
}

.footer-list {
  display: flex;
  justify-content: space-between;
  width: 875px;
}

.footer-list a {
  text-decoration: none;
  color: var(--color11);
  font-size: 28px;
  transition: 0.4s;
}

.footer-list a:hover {
  color: var(--color10);
  border-bottom: 1px solid var(--color10);
  padding-bottom: 8px;
}

.copyright {
  width: 190px;
  color: var(--color12);
  font-size: 24px;
  text-align: center;
}
